@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
  @apply drop-shadow-[0_0_5px_rgba(0,0,0,0.7)];
}
.dark .glow {
  @apply drop-shadow-[0_0_5px_rgba(255,255,255,0.7)];
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s;
}

.glow-cot {
  box-shadow: 0 0 10px 3px rgba(163, 230, 53, 0.7);
}

.glow-uqt {
  box-shadow: 0 0 10px 3px rgba(59, 130, 246, 0.7);
}

.glow-lat {
  box-shadow: 0 0 10px 3px rgba(249, 115, 222, 0.7);
}